* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.br {
  border-radius: 10px;
}

.br-b {
  border-bottom-left-radius: 5px;

  border-bottom-right-radius: 5px;
}

.br-t {
  border-top-left-radius: 5px;

  border-top-right-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fafafa;

  background-color: #101010;

  padding-top: 65px;
}

.centered {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato" sans-serif;

  font-weight: 700;
}

h1 {
  font-size: 4rem;

  margin: 0;
}

p,
b,
i {
  font-family: "Lato" sans-serif;
}

a {
  color: #ea1d33;
}

a:hover {
  color: #d90e22;

  text-decoration: none;
}

hr {
  border-color: #ea1d33;

  margin-top: 10px;
}

.navbar-brand img {
  max-height: 48px;

  width: auto;
}

.navbar {
  border-bottom: 1px solid #ea1d33;

  height: 80px;
}

.bg-schmaty {
  background-color: #151515 !important;
}

.nav-link {
  font-size: 1.25rem;

  text-transform: uppercase;
}

.container {
  background-color: #101010;

  padding: 0 20px;

  padding-bottom: 40px;
}

.accent-color {
  color: #ea1d33 !important;
}

.accent-color-bg {
  background-color: #ea1d33 !important;
}

.btn {
  border: none;

  color: #fafafa;
}

.red-border {
  border-top: 1px solid #ea1d33;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.card {
  border: 1px solid #888;
}

.card-img-top {
  width: 100%;

  background-color: #151515;

  padding: 10px;
}

.card-footer {
  background-color: #151515;
}

.no-padding {
  padding: 0 !important;
}

.card-deck {
  margin: auto 0;

  width: 100%;
}

h1 {
  padding-top: 80px;

  margin-top: -80px;
}

.lead {
  font-size: 2.25rem;
}

.jumbtn {
  min-width: 17.5%;

  max-width: 65%;
}

#scrolltop {
  display: none;

  position: fixed;

  bottom: 15px;

  right: 15px;

  z-index: 99;

  border: none;

  outline: none;

  color: white;

  cursor: pointer;

  padding: 0;

  border-radius: 5px;

  width: 64px;
}

#scrolltop img {
  border-radius: 5px;

  width: 100%;

  height: 100%;

  margin: 0 !important;
}

.nav-item img {
  height: 48px !important;

  width: 48px !important;
}

.gamebox img:hover,
#scrolltop img:hover {
  transition: 0.2s;

  filter: brightness(80%);
}

.gamebox img:not(:hover),
#scrolltop img:not(:hover) {
  transition: 0.2s;

  filter: brightness(100%);
}

a:hover {
  transition: 0.2s;
}

a:not(:hover) {
  transition: 0.2s;
}

.btn:hover {
  background-color: #d90e22 !important;

  color: #fafafa !important;

  transition: 0.2s;
}

.btn:not(:hover) {
  background-color: #ea1d33;

  transition: 0.2s;
}

.nav-link img:hover {
  transform: scale(1.1);

  transition: ease-in-out 0.2s;
}

.nav-link img:not(:hover) {
  transition: ease-in-out 0.2s;
}

@media screen and (max-width: 1280px) {
  .hiddenonmobi {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    border: none;
  }

  img {
    margin-bottom: 10px;

    margin-top: 10px;
  }

  .card-img-top {
    margin: 0 !important;
  }

  .navbar {
    height: auto;
  }

  body {
    padding-top: 95px;
  }

  h1 {
    padding-top: 100px;

    margin-top: -100px;
  }
}
